{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
<div class="row justify-content-md-center pb-5 pt-5">
        <div class="row pb-5" >
            
            <div class="col-sm">
<p class="pt-5">
    {% blocktrans %}
    Forgot your password? Enter your email in the form below and we'll send you instructions for creating a new one.
    {% endblocktrans %}
</p>
<form method="post" action="" class="pt-5 pb-5">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" class="btn btn-primary" value="{% trans 'Reset password' %}" />
</form>
</div>
</div>
</div>

{% endblock %}


{# This is used by django.contrib.auth #}
